@page "/menu-colaborador/editar"
@rendermode InteractiveServer
@using chamaovar.Components.Code
@inject IJSRuntime JsRuntime

<PageTitle>Editar Ocorrencias</PageTitle>

<div class="menu-editar-ocorrencias">
    <h3>Ocorrências</h3>

    <div class="buscar-ocorrencias">
        <input type="text" class="input-search" />
        <button>Buscar</button>
    </div>

    <div class="lista-ocorrencias">
        @if (todas_ocorrencias != null)
        {
            @foreach (Ocorrencias o in todas_ocorrencias)
            {
                <ListaOcorrenciaItem
                                     num_oco="@o.id"
                                     autor_id="@o.torcedor"
                                     acontecimento="@o.acontecimento"
                                     penalidade="@o.penalidade"
                                     data="@o.data_ocorrencia"

                                     ></ListaOcorrenciaItem>
            }
        }

    </div>
</div>

@code
{
    public List<Ocorrencias>? todas_ocorrencias;

    public async Task<string> GetTorcedorNome(int id)
    {
        // Pedir para o sistema pegar o torcedor la ele
        Torcedor? tcd = await TokenSystem.GetTorcedorById(id);

        // Pegar o nome
        return tcd.nome_completo;
    }

    public async void teste()
    {
        // debug - mostrar cada uma das ocorrências todo
        foreach (Ocorrencias oc in todas_ocorrencias)
        {
            await JsRuntime.InvokeVoidAsync("alert", oc.acontecimento);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Pegar todas as ocorrências
        todas_ocorrencias = await OcorrenciasJSON.JsonToOcorrencias();
    }
}
